<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>EasyEarn - Amount Withdrawed Successfully</title>
</head>

<body
  style="background-color: #cca354; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #000000;">
  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="max-width: 600px; margin: 0 auto;">
    <tr>
      <td style="padding: 30px;">
        <!-- <h1 style="font-size: 24px; margin: 0 0 20px;">EasyEarn Forgot Password OTP</h1> -->
        <div style="text-align: center;
                                    font-family: 'Montserrat', sans-serif;
                                    font-size: 30px;
                                    font-weight: bold;
                                    letter-spacing: 2px;
                                    color: #1b1b1b;
                                    background-color: #f6f6f6;
                                    padding: 20px;
                                    border-radius: 10px;
                                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                                    margin-bottom: 20px;">
          <h1 style="color: #cca354;
                                    margin: 0px">
            Easy<span style="color: #1b1b1b;
                                    margin: 0px;">Earn</span>
          </h1>
          <p style="font-size: 14px;
                                    color: #d5b374;
                                    margin-top: 10px;">Invest More, Earn More</p>
        </div>

        <p style="margin: 0 0 20px;">Hi <%= NAME %>,</p>
        <p style="margin: 0 0 20px;">You recently requested to withdraw your balance from your EasyEarn account.
          Please refer the following detail:</p>
        <div style="padding: 10px; background-color: #f6f6f6;
                                    padding: 20px;
                                    border-radius: 10px;
                                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
          <h2 style="font-size: 20px; margin: 0 0 10px;">Amount Sent In Your Account</h2>
          <p style="margin: 0; font-size: 24px;">
            ₹ <%= AMOUNT %>
          </p>
        </div>
        <p style="margin: 20px 0;">If you didn't request this, please notify to our email.</p>
        <p style="margin: 0;">Thanks,</p>
        <p style="margin: 0;">The EasyEarn Team</p>
      </td>
    </tr>
  </table>
</body>

</html>